@model OrderViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>

            <td>
                Name
            </td>

            <td>
                Price
            </td>

        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>

                <td>
                    @product.Name
                </td>

                <td>
                    @product.Price
                </td>

            </tr>

        }
    </tbody>
</table>
<form 
      asp-controller="Order"
      asp-action="MakeOrder"
      method="post">
    <input asp-for="@Model.TotalPrice"/>
    <input asp-for="@Model.Address"/>
    <select asp-for="@Model.DeliveryId">
        <option value="1"> 1 </option>
        <option value="2"> 2 </option>
    </select>
    <button class="btn"
            type="submit">Order</button>
</form>
