@model OrderViewModel
@inject DeliveryManager manager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order information</h1>

<table  class="table">
    <thead>
        <tr>

            <td>
                Name
            </td>

            <td>
                Price
            </td>

        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>

                <td>
                    @product.Name
                </td>

                <td>
                    @product.Price
                </td>
                
                <td>
                    @product.Count
                </td>
            </tr>

        }
    </tbody>
</table>


<form asp-controller="Order"
      asp-action="MakeOrder"
      method="post">

    <div class="form-group">
        <label asp-for="@Model.TotalPrice">Total price:</label>
        <label>@Model.TotalPrice</label>
        <input class="form-control"
               asp-for="@Model.TotalPrice"  hidden/>
    </div>


    <div class="form-group">
        <label asp-for="@Model.Address">Delivery address:</label>
        <input class="form-control"
               asp-for="@Model.Address" />
    </div>


    <div class="form-group">

        @{
            var deliveries = manager.GetDeliveryTypes();
        }
        <select class="form-control"
                asp-for="@Model.DeliveryId">

            @foreach (var delivery in deliveries)
            {
                <option value="@delivery.Id"> @delivery.Type </option>
            }

        </select>

    </div>

    <button class="btn"
            type="submit">
        Order
    </button>

</form>
